<div class="offset-1 col-10 pt-5">
  <div class="row px-xl-5 pt-5">
    <section class="offset-1 col-10 col-lg-5 pt-5">
      <div class="row">
        <div class="col-4 col-md-3">
          <div class="circle-out">
            <div class="circle">
              <img
                class="img-fluid"
                src="../../assets/images/profile photo.png"
                alt="Profile Photo"
              />
            </div>
          </div>
        </div>
        <div class="col-8 col-md-8">
          <div class="mt-2">
            <span
              class="fs-6 pe-3 ps-3 pt-1 pb-1 rounded-5 bg-body-theame-black"
            >
              Hello, I'm
            </span>
            <br />
            <span class="fs-11 fw-normal ps-2 text">Ashan Kavindu.</span>
            <br />
            <span class="fs-7 ps-2 theme-color-1 mt-min theame-fw-1">
              BSC (Hons) Software Engineering
            </span>
          </div>
        </div>
      </div>
    </section>
    <aside class="d-none d-lg-block col-12 col-lg-5 mt-5 text-end pt-3">
      <span class="fs-8 theame-fw-1 theme-color-1">
        Ceylon
        <img
          class="img-fluid"
          width="5%"
          src="../../assets/images/sri lanka icon.png"
          alt="Sri Lanka Icon"
        />
      </span>
      <br />
      <a
        href="https://maps.app.goo.gl/wzKwTSgJ8ZjaUiag6"
        class="text-decoration-none theme-color-1"
      >
        <i class="bi bi-send-arrow-up-fill"></i>
        <span class="fs-8 theme-color-1">&nbsp; 7.078892 N, 79.954838 E</span>
      </a>
    </aside>
  </div>
</div>
<div class="col-12 text-center mt-5 fs-9 fw-medium small-height">
  <span class="js-animate-in" id="callsign"></span>
</div>
<div class="offset-1 offset-xl-2 col-10 col-xl-8">
  <div class="row mt-5">
    <div class="col-12 col-lg-6">
      <p class="fs-6 bi-text-paragraph">
        I’m a full-stack developer with experience in multiple programming
        languages. I have successfully delivered projects across various domains
        and continuously update my skills to provide efficient and innovative
        solutions in web development.
      </p>
      <div class="row mb-5 text-center">
        <div class="col-12 col-lg-6">
          <button class="btn rounded-3 pe-2 ps-2 btn-theme-color">
            <span class="fs-8">
              Download Resume &nbsp;&nbsp;
              <span class="bg-white rounded-2 p-1">
                <i class="bi bi-download"></i>
              </span>
            </span>
          </button>
        </div>
        <div class="col-12 col-lg-6 text-xl-start mt-3 mt-lg-1">
          <div
            class="rounded-5 theme-green-bg theme-green-color ps-3 pe-3 pt-1 pb-1 status"
          >
            <div class="dot"></div>
            <span class="fs-8">Available for work</span>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block offset-lg-1 col-lg-5">
      <div class="row">
        <div
          class="col-12 PS-5 pe-5 pt-1 pb-1 bg-body-theame-black text-center rounded-3"
        >
          <a
            href="mailto:Ashankavinduofficial&#64;gmail.com"
            class="fs-8 text-decoration-none theme-color-1"
            ><i class="bi bi-envelope-at-fill pe-2"></i>
            Ashankavinduofficial&#64;gmail.com
            <i class="bi bi-arrow-up-right fs-7 ps-2"></i
          ></a>
        </div>

        <div class="col-6 text-center mt-3 ps-3 pe-3">
          <div class="row">
            <div
              class="col-12 theme-color-1 bg-body-theame-black rounded-3 pt-1 pb-1"
            >
              <div class="row fs-8">
                <div class="col-1 ps-4">
                  <i class="bi bi-facebook"></i>
                </div>
                <div class="col-6">FaceBook</div>
                <div class="col-1">
                  <i class="bi bi-arrow-up-right fs-7"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 text-center mt-3 ps-3 pe-3">
          <div class="row">
            <div
              class="col-12 theme-color-1 bg-body-theame-black rounded-3 pt-1 pb-1"
            >
              <div class="row fs-8">
                <div class="col-1 ps-4">
                  <i class="bi bi-instagram"></i>
                </div>
                <div class="col-6">Instagram</div>
                <div class="col-1">
                  <i class="bi bi-arrow-up-right fs-7"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 text-center mt-3 ps-3 pe-3">
          <div class="row">
            <div
              class="col-12 theme-color-1 bg-body-theame-black rounded-3 pt-1 pb-1"
            >
              <div class="row fs-8">
                <div class="col-1 ps-4">
                  <i class="bi bi-linkedin"></i>
                </div>
                <div class="col-6">LinkedIn</div>
                <div class="col-1">
                  <i class="bi bi-arrow-up-right fs-7"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 text-center mt-3 ps-3 pe-3">
          <div class="row">
            <div
              class="col-12 theme-color-1 bg-body-theame-black rounded-3 pt-1 pb-1"
            >
              <div class="row fs-8">
                <div class="col-1 ps-4">
                  <i class="bi bi-github"></i>
                </div>
                <div class="col-6">GitHub</div>
                <div class="col-1">
                  <i class="bi bi-arrow-up-right fs-7"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 text-center mt-3 ps-3 pe-3">
          <div class="row">
            <div
              class="col-12 theme-color-1 bg-body-theame-black rounded-3 pt-1 pb-1"
            >
              <div class="row fs-8">
                <div class="col-1 ps-4">
                  <i class="bi bi-whatsapp"></i>
                </div>
                <div class="col-6">Whatsapp</div>
                <div class="col-1">
                  <i class="bi bi-arrow-up-right fs-7"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 text-center mt-3 ps-3 pe-3">
          <div class="row">
            <div
              class="col-12 theme-color-1 bg-body-theame-black rounded-3 pt-1 pb-1"
            >
              <div class="row fs-8">
                <div class="col-1 ps-4">
                  <i class="bi bi-youtube"></i>
                </div>
                <div class="col-6">YouTube</div>
                <div class="col-1">
                  <i class="bi bi-arrow-up-right fs-7"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
