
<div class="offset-1 col-10">
  <div class="row px-xl-5 pt-5">
    <div class="offset-1 col-10 col-xl-5 col-xxl-4">
  <span class="fs-10 theame-fw-1 color-black">More About Myself</span>
  <p class="fs-8 mt-3">
    I am a seasoned full stack developer with a unique blend of creative and
    technical expertise. Proficient in multiple programming languages,
    including Java, PHP, and Dart, I excel in crafting efficient,
    high-quality solutions for complex software development projects. My
    experience spans responsive web designs, full-stack applications, and
    specialized systems across e-commerce, learning management systems, and
    finance. Driven by a passion for continuous learning, I stay abreast of
    the latest industry trends and advancements, ensuring I consistently
    deliver innovative solutions that adhere to current best practices. My
    analytical acumen and commitment to professional growth enable me to
    exceed client expectations and deliver outstanding results in every
    project I undertake.
  </p>
</div>
<div class="offset-1 offset-xxl-2 col-4 div-theme-color rounded-4 mt-4">
<div class="skills pt-4 pb-4">
  <div class="ProgWidth">
    <div class="row fs-8">
      <div class="col-10">
        <span>Web Design</span>
      </div>
      <div class="col-2 text-end">
        <span class="theme-blue-color">95%</span>
      </div>
    </div>

    <div class="pp mt-1">
      <span class="skillBar web-design-bar rounded-5 mb-4"></span>
    </div>
  </div>

  <div class="ProgWidth">
    <div class="row fs-8">
      <div class="col-10">
        <span>Web Development</span>
      </div>
      <div class="col-2 text-end">
        <span class="theme-blue-color">95%</span>
      </div>
    </div>

    <div class="pp mt-1">
      <span class="skillBar web-development-bar rounded-5 mb-4"></span>
    </div>
  </div>

  <div class="ProgWidth">
    <div class="row fs-8">
      <div class="col-10">
        <span>Mobile Application Development</span>
      </div>
      <div class="col-2 text-end">
        <span class="theme-blue-color">95%</span>
      </div>
    </div>

    <div class="pp mt-1">
      <span
        class="skillBar mobile_application-development-bar rounded-5 mb-4"
      ></span>
    </div>
  </div>

  <div class="ProgWidth">
    <div class="row fs-8">
      <div class="col-10">
        <span>Cross Platform Development</span>
      </div>
      <div class="col-2 text-end">
        <span class="theme-blue-color">80%</span>
      </div>
    </div>

    <div class="pp mt-1">
      <span
        class="skillBar cross-platform-development-bar rounded-5 mb-4"
      ></span>
    </div>
  </div>

  <div class="ProgWidth">
    <div class="row fs-8">
      <div class="col-10">
        <span>Api Development</span>
      </div>
      <div class="col-2 text-end">
        <span class="theme-blue-color">95%</span>
      </div>
    </div>

    <div class="pp mt-1">
      <span class="skillBar api-development-bar rounded-5 mb-4"></span>
    </div>
  </div>

  <div class="ProgWidth">
    <div class="row fs-8">
      <div class="col-10">
        <span>UI UX Designing</span>
      </div>
      <div class="col-2 text-end">
        <span class="theme-blue-color">90%</span>
      </div>
    </div>

    <div class="pp mt-1">
      <span class="skillBar ui-ux-designing-bar rounded-5 mb-4"></span>
    </div>
  </div>
</div>
</div>
</div></div>